.FooterComponent {
    width: 100%;
    padding-top: 15px;
}
.LinkAppearance {
    color: var(--theme);
    text-decoration: none;
    margin: 10px;
}
.LinkAppearance:hover {
    text-decoration: underline;
    cursor: pointer;
}